body {
    background-color: white;

}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: rgb(179, 179, 179);
}

.site-header {
    border-bottom: 1px solid #ccc;
    padding: .5em 1em;
    display: flex;
    justify-content: space-between;
    background-color: transparent;

}

.site-identity h1 {
    font-size: 1.5em;
    margin: .6em 0;
    display: inline-block;
}

.site-navigation ul,
.site-navigation li {
    margin: 0;
    padding: 0;
}

.site-navigation li {
    display: inline-block;
    margin: 1.4em 1em 1em 1em;
}

.logo {
    height: 60px;
    width: 60px;
    padding-left: 20px;
    padding-top: 0px;

}

.list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;


}

.banner.image {
    position: absolute;
    top: 5%;
}

.background-img {
    /* background-color: #ffffff; */
    background-image: url("img/billboard.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    bottom: 10vh;


}








.img-sen {
    display: flex;
    justify-content: space-between;
    align-items: top;
    background-color: rgba(255, 255, 255, 0.414);
    padding: 5px;
    position: absolute;
    top: 97%;
    width: 100%;



}



.have-a-proj {
    padding-top: 10px;
    padding-left: 10px;
}

.in-touch {
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
    width: 200px;
    background-color: rgb(35, 132, 251);
    color: white;
    font-size: 12px;
    margin-right: 30px;
    border: 0px solid rgb(35, 132, 251);




}

.flex-box {
    margin-top: 30px;
}

.flex-container {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.cards {
    margin-left: 100px;
    margin-right: 100px;
}

.flex-items,
.ark-para {
    text-align: center;
}


.flex-item {
    text-align: center;
}

.clients {
    margin-top: 30px;
    display: grid;
    display: inline-grid;
    grid-column-gap: 100px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    align-items: center;
    text-align: center;
    grid-row-gap: 20px;
}

.we-are {
    vertical-align: top;
    text-align: center;
    font-size: 30px;
}


.ad {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-top: 50px;
}

.scence {
    width: 300px;
}


.sub-test {

    text-align: center;
    margin-top: 50px;
    font-size: 30px;
    font-family: sans-serif;
    grid-column-start: 1;
    grid-column-end: 4;
}



.c-det {
    text-align: center;
}

.client {
    border-radius: 50px;
}

span {
    font-size: 10px;
    color: rgba(74, 74, 74, 0.821);
}


.foot {
    background-color: black;
}

footer {

    color: white;
    display: flex;
    justify-content: center;
    /* text-align: center; */
    justify-content: space-evenly;
    padding-top: 60px;
    padding-bottom: 20px;
}



.loctaion {
    text-align: left;
}

.fo-hea {
    margin-bottom: 25px;
}

.rights {
    text-align: center;
    color: white;
    border: 3px solid rgb(67, 67, 67);
    padding-bottom: 10px;
}



/* mobile designing */

/* @media only screen and (min-width: 768px) {



    .nav {
        display: none;
        visibility: hidden;
    }

    


    .in-touch {
        padding-left: 20px;
        padding-right: 20px;
        height: 55px;
        width: 85px;
        background-color: rgb(35, 132, 251);
        color: white;
        font-size: 12px;
        border: 0px solid rgb(35, 132, 251);
        margin-right: 20px;


    }

    .mob {

        font-size: 18px;
        padding-top: 5px;
        padding-left: 10px;
    }




    .ad {
        display: flex;
        margin-top: 50px;
    }

    .scence {
        width: 19%;
    }


    .det {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        text-align: center;
    }

    .det-2 {
        font-size: 10px;
    }

    .head {
        position: relative;
        bottom: 500px;

    }

    .clients {

        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;

    }

    footer {
        background-color: black;
        color: white;
        display: flex;
        justify-content: center;
        justify-content: space-between;
        padding-top: 60px;
        padding-bottom: 20px;
        font-size: 7px;
        padding-left: 10px;
        padding-right: 10px;
    }



    .loctaion {
        text-align: left;
    }

    .fo-hea {
        margin-bottom: 25px;
    }

    .banner-img {
        width: 100%;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }