body {
    background-color: white;

}


.banner-img {
    width: 100%;
    margin-bottom: 0px;
    padding-bottom: 0px;
}


.logo {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 10px;
    left: 30px;
}

.list {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    background-color: rgba(255, 255, 255, 0.429);
}

.head {
    position: relative;
    bottom: 995px;

}





.img-sen {
    display: grid;
    display: inline-grid;
    grid-template-columns: 800px 200px;
    grid-column-gap: 510px;
    grid-template-rows: auto;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.429);
    padding-right: 10px;
    position: relative;
    bottom: 115px;

}

.mob-head {
    display: none;
    visibility: hiiden;
}


.have-a-proj {
    padding-top: 20px;
    padding-left: 10px;
}

.in-touch {
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
    width: 200px;
    background-color: rgb(35, 132, 251);
    color: white;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0px solid rgb(35, 132, 251);

}

.we-are {
    vertical-align: top;
    text-align: center;
    font-size: 30px;
}

.sep {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* justify-content: space-between; */


}

.objectives {
    display: flex;
    /* justify-content: center; */
    justify-content: space-around;
    flex-direction: row;
}

.flogo {
    margin-top: 25px;
}

.det {

    display: flex;
    /* justify-content: center; */
    justify-content: space-around;
    flex-direction: row;
}

.det-2 {
    display: flex;
    /* justify-content: center; */
    justify-content: space-around;
    flex-direction: row;
    font-size: 10px;
    text-align: center;
}

.ad {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-top: 50px;
}

.scence {
    width: 300px;
}


.sub-test {

    text-align: center;
    margin-top: 50px;
    font-size: 30px;
    font-family: sans-serif;
}

.clients {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    text-align: center;

}

.client {
    border-radius: 50px;
}

span {
    font-size: 10px;
    color: rgba(74, 74, 74, 0.821);
}


.foot {
    background-color: black;
}

footer {

    color: white;
    display: flex;
    justify-content: center;
    /* text-align: center; */
    justify-content: space-evenly;
    padding-top: 60px;
    padding-bottom: 20px;
}



.loctaion {
    text-align: left;
}

.fo-hea {
    margin-bottom: 25px;
}

.rights {
    text-align: center;
    color: white;
    border: 3px solid rgb(67, 67, 67);
}



/* mobile designing */

@media only screen and (max-width: 768px) {
    .mob-head {
        display: grid;
        display: inline-grid;
        grid-template-columns: 350px 200px;
        grid-column-gap: 10px;
        width: 97%;
        grid-template-rows: auto auto;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.429);
        padding-right: 10px;
        position: relative;
        bottom: 132px;
        height: 60px;

    }

    .img-sen {
        display: none;
        visibility: hiiden;
    }

    .in-touch {
        padding-left: 20px;
        padding-right: 20px;
        height: 45px;
        width: 80px;
        background-color: rgb(35, 132, 251);
        color: white;
        font-size: 09px;
        margin-top: 10px;
        margin-bottom: 10px;
        border: 0px solid rgb(35, 132, 251);
    }



    .mob {

        font-size: 10px;
        padding-top: 15px;
        padding-left: 120px;
    }




    .ad {
        display: flex;
        margin-top: 50px;
    }

    .scence {
        width: 80px;
    }


    .det {

        display: flex;
        /* justify-content: center; */
        justify-content: space-around;
        flex-direction: row;
        text-align: center;
    }

    .head {
        position: relative;
        bottom: 500px;

    }

    .clients {

        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;

    }

    footer {
        background-color: black;
        color: white;
        display: flex;
        justify-content: center;
        /* text-align: center; */
        justify-content: space-between;
        padding-top: 60px;
        padding-bottom: 20px;
        font-size: 5px;
        padding-left: 9px;
        padding-right: 9px;
    }



    .loctaion {
        text-align: left;
    }

    .fo-hea {
        margin-bottom: 25px;
    }


}